examples/flows.json
[{"id":"22bda52609441b1a","type":"debug","z":"d6fad9e77ecc8414","name":"debug 422","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":260,"wires":[]},{"id":"3f367ca2f000f0d2","type":"wsl-ubuntu","z":"d6fad9e77ecc8414","name":"","distro":"Ubuntu-18.04","continuous":false,"x":1910,"y":260,"wires":[["22bda52609441b1a"]]},{"id":"29483d4c3f21b75b","type":"inject","z":"d6fad9e77ecc8414","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ls -a","payloadType":"str","x":1750,"y":260,"wires":[["3f367ca2f000f0d2"]]},{"id":"0831cf4218015037","type":"inject","z":"d6fad9e77ecc8414","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cat /etc/os-release","payloadType":"str","x":1710,"y":300,"wires":[["3f367ca2f000f0d2"]]}]