examples/neofetch.json
[{"id":"0052134041cae703","type":"debug","z":"d6fad9e77ecc8414","name":"debug 421","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2050,"y":100,"wires":[]},{"id":"b94bb0de54a6bcb9","type":"inject","z":"d6fad9e77ecc8414","name":"neofetch","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"neofetch","payloadType":"str","x":1700,"y":100,"wires":[["8b94f9eab569d6b0"]]},{"id":"6b6a44c6b62ec740","type":"inject","z":"d6fad9e77ecc8414","name":"sudo apt-get remove neofetch -y","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo apt-get remove neofetch -y","payloadType":"str","x":1630,"y":140,"wires":[["8b94f9eab569d6b0"]]},{"id":"662b401f3815e8a8","type":"inject","z":"d6fad9e77ecc8414","name":"sudo apt-get install neofetch","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sudo apt-get install neofetch","payloadType":"str","x":1640,"y":60,"wires":[["8b94f9eab569d6b0"]]},{"id":"8b94f9eab569d6b0","type":"wsl-ubuntu","z":"d6fad9e77ecc8414","name":"","distro":"Ubuntu-20.04","continuous":false,"x":1870,"y":100,"wires":[["0052134041cae703"]]}]