examples/os.json
[{"id":"3a8e71067ee68d8a","type":"inject","z":"d6fad9e77ecc8414","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cat /etc/os-release","payloadType":"str","x":1650,"y":460,"wires":[["93a7f6dcd84db5bd","b1ba1e1d36737469","975fa3d0b5bb677d"]]},{"id":"93a7f6dcd84db5bd","type":"wsl-ubuntu","z":"d6fad9e77ecc8414","name":"Ubuntu 18.04","distro":"Ubuntu-18.04","continuous":false,"x":1860,"y":460,"wires":[["c7c049ed52d24e92"]]},{"id":"c7c049ed52d24e92","type":"debug","z":"d6fad9e77ecc8414","name":"debug 423","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2050,"y":460,"wires":[]},{"id":"b1ba1e1d36737469","type":"wsl-ubuntu","z":"d6fad9e77ecc8414","name":"Ubuntu 20.04","distro":"Ubuntu-20.04","continuous":false,"x":1860,"y":520,"wires":[["a1b88682599eb2b3"]]},{"id":"a1b88682599eb2b3","type":"debug","z":"d6fad9e77ecc8414","name":"debug 424","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2050,"y":520,"wires":[]},{"id":"975fa3d0b5bb677d","type":"wsl-ubuntu","z":"d6fad9e77ecc8414","name":"Ubuntu 22.04","distro":"Ubuntu-22.04","continuous":false,"x":1860,"y":580,"wires":[["294aa3d23136bb91"]]},{"id":"294aa3d23136bb91","type":"debug","z":"d6fad9e77ecc8414","name":"debug 425","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2050,"y":580,"wires":[]}]